body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    align-items: center;
    margin-top: 23px;
}

nav a{
    font-weight: 600;
    padding: 10px;
    align-items: center;
}
nav a:hover{
    color: rgba(40, 39, 39, 0.59);
}

.section-1 {    
    background-color: rgba(83, 82, 82, 0.706);
    margin-top: 20px;
    width: 100vw;
    height: 500px;
    display: flex;

}
.seccion {
display: flex;
flex-direction: column;
margin-left: 150px;
margin-top: 100px;

}

.seccion p{
   display: flex;
    width: 40%;

}
.imagen {
    display: flex;
    width: 50;
    height: 300px;
    margin-top: 100px;
    margin-right: 170px;

}

.seccion a {
    display: flex;
}