*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: 'Righteous', ; 
    background-image: url(../img/pexels-dana-tentis-370799.jpg)
}

a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: rgba(83, 82, 82, 0.706);
    align-items: center;
    padding: 25px;
}

.logo{
    display: flex;
    
}
.logo img{
    height: 70px;
    align-items: flex-start;
  

}

nav a{
    font-weight: 600;
    padding: 10px;
    align-items: center;
}
nav a:hover{
    color: rgba(40, 39, 39, 0.59);
}
/*SECCION 1*/
.section-1 {    
    background-color: rgba(83, 82, 82, 0.706);
    margin-top: 10px;
    width: 100vw;
    height: 450px;
    display: flex;
    border-radius: 10px;

}
.seccion {
display: flex;
flex-direction: column;
margin-left: 300px;
margin-top: 50px;
justify-content: space-around;

}
.seccion h1{
   font-size: 50px;
    margin-left: 40px;
}

.seccion p{
   display: flex;
    width: 40%;

}
.imagen {
    display: flex;
    width: 300px;
    height: 400px;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 100px;

}

.seccion button{
     display: inline-block;
    justify-content: space-between;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgb(13, 13, 13);
}
.seccion button a{
    color: aliceblue;
}

.seccion button:hover{
     background-color: rgb(35, 35, 35);
}
/*SECCION 2*/

.container{
    background-color: rgba(83, 82, 82, 0.706);
    width: 100vw;
    height: auto;
    display: flex;
    border-radius: 10px;
}
.seccion-2 {
    display: flex;
}
.seccion-2 p{
   font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}