*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: 'Righteous', cursive;
    margin: 30px;
    margin-left: ;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    align-items: flex-start;
    margin-top: 23px;
}

nav a{
    font-weight: 600;
    padding: 10px;
    align-items: center;
}
nav a:hover{
    color: rgba(40, 39, 39, 0.59);
}
/*SECCION 1*/
.section-1 {    
    background-color: rgba(83, 82, 82, 0.706);
    margin-top: 30px;
    width: 100vw;
    height: 500px;
    display: flex;
    border-radius: 10px;

}
.seccion {
display: flex;
flex-direction: column;
margin-left: 150px;
margin-top: 100px;
justify-content: space-around;

}

.seccion p{
   display: flex;
    width: 40%;

}
.imagen {
    display: flex;
    width: 50;
    height: 300px;
    margin-top: 100px;
    margin-right: 100px;

}

.seccion button{

    display: inline-block;
    justify-content: space-between;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgb(13, 13, 13);
    margin-top: 0;
}
.seccion button a{
    color: aliceblue;
}

.seccion button:hover{
     background-color: aliceblue;
}
/*SECCION 2*/

.container{
    background-color: rgba(83, 82, 82, 0.706);
    width: 100vw;
    height: 360px;
    display: flex;
    border-radius: 10px;
}
.seccion-2 {
    display: flex;
}
.seccion-2 p{
   
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}